<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="row mt-3">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Board List
          </div>
          <div class="card-body">
            <h5 class="card-title">Board List</h5>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Bno</th>
                  <th scope="col">Title</th>
                  <th scope="col">Writer</th>
                  <th scope="col">RegDate</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="dto:${responseDTO.dtoList}">
                  <th scope="row">[[${dto.bno}]]</th>
                  <th>[[${dto.title}]]</th>
                  <th>[[${dto.writer}]]</th>
                  <th>[[${dto.regDate}]]</th>
                </tr>
              </tbody>
            </table>
          </div> <!-- card body end -->
        </div><!-- card end -->

      </div> <!-- col end-->
    </div><!-- row end-->
  </div>

  <script layout:fragment="script" th:inline="javascript">
    console.log("script")

  </script>
</body>
</html>